<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yihuisoft.authoritybiz.mapper.user.UserMapper">
  <resultMap id="BaseResultMap" type="com.yihuisoft.authoritybiz.entity.user.User">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ROLE_ID" jdbcType="DECIMAL" property="roleId"/>
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="ORGN_CODE" jdbcType="VARCHAR" property="orgnCode" />
    <result column="ORGN_NAME" jdbcType="VARCHAR" property="orgnName" />
    <result column="ORGN_ID" jdbcType="DECIMAL" property="orgnId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="WORK_NO" jdbcType="VARCHAR" property="workNo" />
    <result column="ID_TYPE" jdbcType="VARCHAR" property="idType" />
    <result column="ID_NO" jdbcType="VARCHAR" property="idNo" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
    <result column="BIRTHDAY" jdbcType="DATE" property="birthday" />
    <result column="EDUCATION" jdbcType="VARCHAR" property="education" />
    <result column="MARITAL_STATUS" jdbcType="VARCHAR" property="maritalStatus" />
    <result column="POSITION" jdbcType="VARCHAR" property="position" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="MAIL" jdbcType="VARCHAR" property="mail" />
    <result column="WORKPHONE" jdbcType="VARCHAR" property="workphone" />
    <result column="FAX" jdbcType="VARCHAR" property="fax" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="WECHAT" jdbcType="VARCHAR" property="wechat" />
    <result column="DESCB" jdbcType="VARCHAR" property="descb" />
    <result column="TOTAL_WORK_YEAR" jdbcType="VARCHAR" property="totalWorkYear" />
    <result column="CURRENT_WORK_YEAR" jdbcType="VARCHAR" property="currentWorkYear" />
    <result column="CURRENT_BEGIN_DATE" jdbcType="DATE" property="currentBeginDate" />
    <result column="WORK_YEAR" jdbcType="VARCHAR" property="workYear" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="USERPWD" jdbcType="VARCHAR" property="userpwd" />
    <result column="UP_PASSWORD_TIME" jdbcType="DATE" property="upPasswordTime" />
    <result column="CREATE_USERID" jdbcType="DECIMAL" property="createUserid" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="UPDATE_USERID" jdbcType="DECIMAL" property="updateUserid" />
    <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime" />
    <result column="DATA_AUTH" jdbcType="VARCHAR" property="dataAuth" />
    <result column="ORGN_LEVEL" jdbcType="VARCHAR" property="orgnLevel" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, ROLE_ID, ROLE_CODE, USER_CODE, ORGN_CODE, ORGN_ID, USER_NAME, WORK_NO, ID_TYPE,
    ID_NO, GENDER, BIRTHDAY, EDUCATION,MARITAL_STATUS,POSITION, ADDRESS, PHONE, MOBILE, MAIL, WORKPHONE, FAX,
    QQ, WECHAT, DESCB, TOTAL_WORK_YEAR, CURRENT_WORK_YEAR, CURRENT_BEGIN_DATE, WORK_YEAR,
    STATUS, USERPWD, UP_PASSWORD_TIME, CREATE_USERID, CREATE_TIME,
    UPDATE_USERID, UPDATE_TIME
  </sql>

  <!--db2、oracle、mysql通用-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
     select A.*,B.ROLE_NAME,B.DATA_AUTH,C.ORGN_NAME,C.ORGN_LEVEL from T_SYS_USER_INFO A
      join T_SYS_ROLE_INF B on A.role_id=B.id
      join T_SYS_ORGAN C on A.orgn_code=C.orgn_code
    where A.ID = #{id,jdbcType=DECIMAL}
  </select>
  <!--oracle-->
  <select id="getOrgCodeByUserCode" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select orgn_code from
      T_SYS_USER_INFO
      where USER_CODE = #{userCode}
  </select>

  <!--oracle-->
  <select id="selectByUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
     select A.*,B.ROLE_NAME,B.DATA_AUTH,C.ORGN_NAME,C.ORGN_LEVEL from T_SYS_USER_INFO A
      join T_SYS_ROLE_INF B on A.role_id=B.id
      join T_SYS_ORGAN C on A.orgn_code=C.orgn_code
    where A.USER_CODE = #{userCode,jdbcType=VARCHAR}
  </select>
  <!--db2、oracle、mysql通用-->
  <select id="validateOldPwd" parameterType="map" resultMap="BaseResultMap">
     select * from T_SYS_USER_INFO
    where USER_CODE = #{userCode,jdbcType=VARCHAR} AND USERPWD=#{oldPassword,jdbcType=VARCHAR}
  </select>

  <!--db2、oracle、mysql通用-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_SYS_USER_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>


  <insert id="insertSelective" parameterType="com.yihuisoft.authoritybiz.entity.user.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT #{id} FROM DUAL
    </selectKey>
    insert into T_SYS_USER_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id !=null">
        ID,
      </if>
      <if test="roleId !=null and roleId !=''">
        ROLE_ID,
      </if>
      <if test="roleId != null and roleId !=''">
        ROLE_CODE,
      </if>
      <if test="workNo != null and workNo !=''">
        USER_CODE,
      </if>
      <if test="orgnCode != null and orgnCode !=''">
        ORGN_CODE,
      </if>
      <if test="orgnId != null and orgnId !=''">
        ORGN_ID,
      </if>
      <if test="userName != null and userName !=''">
        USER_NAME,
      </if>
      <if test="workNo != null and workNo !=''">
        WORK_NO,
      </if>
      <if test="idType != null and idType !=''">
        ID_TYPE,
      </if>
      <if test="idNo != null and idNo !=''">
        ID_NO,
      </if>
      <if test="gender != null and gender !=''">
        GENDER,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="education != null and education !=''">
        EDUCATION,
      </if>
      <if test="maritalStatus != null and maritalStatus !=''">
        MARITAL_STATUS,
      </if>
      <if test="position != null and position !=''">
        POSITION,
      </if>
      <if test="address != null and address !=''">
        ADDRESS,
      </if>
      <if test="phone != null and phone !=''">
        PHONE,
      </if>
      <if test="mobile != null and mobile !=''">
        MOBILE,
      </if>
      <if test="mail != null and mail !=''">
        MAIL,
      </if>
      <if test="workphone != null and workphone !=''">
        WORKPHONE,
      </if>
      <if test="fax != null and fax !=''">
        FAX,
      </if>
      <if test="qq != null and qq !=''">
        QQ,
      </if>
      <if test="wechat != null and wechat !=''">
        WECHAT,
      </if>
      <if test="descb != null and descb !=''">
        DESCB,
      </if>
      <if test="totalWorkYear != null and totalWorkYear !=''">
        TOTAL_WORK_YEAR,
      </if>
      <if test="currentWorkYear != null and currentWorkYear !=''">
        CURRENT_WORK_YEAR,
      </if>
      <if test="currentBeginDate != null">
        CURRENT_BEGIN_DATE,
      </if>
      <if test="workYear != null and workYear !=''">
        WORK_YEAR,
      </if>
      <if test="status != null and status !=''">
        STATUS,
      </if>
      <if test="userpwd != null and userpwd !=''">
        USERPWD,
      </if>
        UP_PASSWORD_TIME,
      <if test="createUserid != null and createUserid !=''">
        CREATE_USERID,
      </if>
        CREATE_TIME
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id !=null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="roleId !=null and roleId !=''">
        #{roleId},
      </if>
      <if test="roleId !=null and roleId !=''">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null and workNo !=''">
        #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="orgnCode != null and orgnCode !=''">
        #{orgnCode,jdbcType=VARCHAR},
      </if>
      <if test="orgnId != null and orgnId !=''">
        #{orgnId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null and userName !=''">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null and workNo !=''">
        #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="idType != null and idType !=''">
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null and idNo !=''">
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="gender != null and gender !=''">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="education != null and education !=''">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null and maritalStatus !=''">
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="position != null and position !=''">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="address != null and address !=''">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone !=''">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null and mobile !=''">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mail != null and mail !=''">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="workphone != null and workphone !=''">
        #{workphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null and fax !=''">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="qq != null and qq !=''">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null and wechat !=''">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="descb != null and descb !=''">
        #{descb,jdbcType=VARCHAR},
      </if>
      <if test="totalWorkYear != null and totalWorkYear !=''">
        #{totalWorkYear,jdbcType=VARCHAR},
      </if>
      <if test="currentWorkYear != null and currentWorkYear !=''">
        #{currentWorkYear,jdbcType=VARCHAR},
      </if>
      <if test="currentBeginDate != null">
        #{currentBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="workYear != null and workYear !=''">
        #{workYear,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status !=''">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null and userpwd !=''">
        #{userpwd,jdbcType=VARCHAR},
      </if>
      SYSDATE,
      <if test="createUserid != null and createUserid !=''">
        #{createUserid,jdbcType=DECIMAL},
      </if>
      SYSDATE
    </trim>
  </insert>

  <!--db2、oracle通用-->
  <update id="updateByPrimaryKeySelective">
    update T_SYS_USER_INFO
    <set>
      <if test="roleId != null">
        ROLE_CODE = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null">
        USER_CODE = #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="orgnCode != null">
        ORGN_CODE = #{orgnCode,jdbcType=VARCHAR},
      </if>
      <if test="orgnId != null">
        ORGN_ID = #{orgnId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null">
        WORK_NO = #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        ID_TYPE = #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        ID_NO = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=DATE},
      </if>
      <if test="education != null">
        EDUCATION = #{education,jdbcType=VARCHAR},
      </if>

      <if test="maritalStatus != null and maritalStatus !=''">
        MARITAL_STATUS=#{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="position != null and position !=''">
        POSITION=#{position,jdbcType=VARCHAR},
      </if>

      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        MAIL = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="workphone != null">
        WORKPHONE = #{workphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        WECHAT = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="descb != null">
        DESCB = #{descb,jdbcType=VARCHAR},
      </if>
      <if test="totalWorkYear != null">
        TOTAL_WORK_YEAR = #{totalWorkYear,jdbcType=VARCHAR},
      </if>
      <if test="currentWorkYear != null">
        CURRENT_WORK_YEAR = #{currentWorkYear,jdbcType=VARCHAR},
      </if>
      <if test="currentBeginDate != null">
        CURRENT_BEGIN_DATE = #{currentBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="workYear != null">
        WORK_YEAR = #{workYear,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="updateUserid != null">
        UPDATE_USERID = #{updateUserid,jdbcType=DECIMAL},
      </if>
        UPDATE_TIME = sysdate
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <!--db2、oracle、mysql通用-->
  <select id="getBankUserLogin" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM T_SYS_USER_INFO WHERE USER_CODE = #{userCode}
  </select>

  <!--db2、oracle、mysql通用-->
  <select id="getVerifyUserLogin" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM T_SYS_USER_INFO WHERE USER_CODE = #{userCode} AND USERPWD = #{userPwd}
  </select>

  <!--db2、oracle、mysql通用-->
  <select id="getCountByRoleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from T_SYS_USER_INFO where ROLE_ID=#{roleId}
  </select>

  <!--db2、oracle、mysql通用-->
  <select id="getCountByOrgnCode" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(1) from T_SYS_USER_INFO where ORGN_CODE=#{orgnCode}
  </select>

  <!--db2、oracle、mysql通用-->
  <select id="getUserListByOrgCode" parameterType="string" resultMap="BaseResultMap">
    select WORK_NO,USER_NAME from T_SYS_USER_INFO WHERE ORGN_CODE = #{orgCode}
  </select>

  <select id="getUserByOrgn" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM T_SYS_USER_INFO WHERE ORGN_CODE = #{orgnCode,jdbcType=VARCHAR}
  </select>

  <select id="getUserList" resultMap="BaseResultMap" >
    select A.*,B.ROLE_NAME,C.ORGN_NAME from T_SYS_USER_INFO A
    join T_SYS_ROLE_INF B on A.role_id=B.id
    join T_SYS_ORGAN C on A.orgn_code = C.orgn_code
    <where>
      <if test="orgnCode!=null and orgnCode!= ''">
        A.ORGN_CODE IN ( select orgn_code from T_SYS_ORGAN start with orgn_code = #{orgnCode} connect by prior ORGN_CODE=PARENT_ORGN_CODE)
      </if>
      <if test="userName!=null and userName!= ''">
        AND A.USER_NAME LIKE  '%'||#{userName}||'%'
      </if>
      <if test="workNo!=null and workNo!= ''">
        AND A.WORK_NO = #{workNo,jdbcType=VARCHAR}
      </if>
      <if test="roleId!=null and roleId!= ''">
        AND B.ID = #{roleId,jdbcType=DECIMAL}
      </if>
      <if test="status!=null and status!= ''">
        AND A.STATUS = #{status,jdbcType=VARCHAR}
      </if>
    </where>
    <choose>
      <when test="createTimeOrder==null and updateTimeOrder==null">
        ORDER BY A.STATUS,A.UPDATE_TIME DESC
      </when>
      <when test="updateTimeOrder==null and '1'.toString() == createTimeOrder.toString()">
        ORDER BY A.CREATE_TIME
      </when>
      <when test="updateTimeOrder==null and '0'.toString() == createTimeOrder.toString()">
        ORDER BY A.CREATE_TIME DESC
      </when>
      <when test="createTimeOrder==null and '1'.toString() == updateTimeOrder.toString()">
        ORDER BY A.UPDATE_TIME
      </when>
      <when test="createTimeOrder==null and '0'.toString() == updateTimeOrder.toString()">
        ORDER BY A.UPDATE_TIME DESC
      </when>
    </choose>
  </select>

  <select id="getUserByItem" parameterType="com.yihuisoft.authoritybiz.entity.user.User" resultMap="BaseResultMap" databaseId="db2">
    WITH report (parent_orgn_code, orgn_code) AS
    (SELECT parent_orgn_code,orgn_code FROM T_SYS_ORGAN WHERE orgn_code = #{orgnCode} UNION ALL SELECT t.parent_orgn_code,t.orgn_code FROM report r,T_SYS_ORGAN t where t.parent_orgn_code = r.orgn_code)
    select A.*,B.ROLE_NAME,C.ORGN_NAME from T_SYS_USER_INFO A
    join T_SYS_ROLE_INF B on A.role_id=B.id
    join T_SYS_ORGAN C on A.orgn_code = C.orgn_code
  <where>
    A.ORGN_CODE IN (SELECT orgn_code FROM report)
    <if test="userName!=null and userName!= ''">
      AND A.USER_NAME LIKE  '%'||#{userName}||'%'
    </if>
    <if test="workNo!=null and workNo!= ''">
      AND A.WORK_NO = #{workNo,jdbcType=VARCHAR}
    </if>
    <if test="roleCode!=null and roleCode!= ''">
      AND B.ROLE_CODE = #{roleCode,jdbcType=VARCHAR}
    </if>
  </where>
  </select>
  <select id="getUserByItem" parameterType="com.yihuisoft.authoritybiz.entity.user.User" resultMap="BaseResultMap" databaseId="oracle">
    select A.*,B.ROLE_NAME,C.ORGN_NAME from T_SYS_USER_INFO A
    join T_SYS_ROLE_INF B on A.role_id=B.id
    join T_SYS_ORGAN C on A.orgn_code = C.orgn_code
    <where>
      <if test="orgnCode!=null and orgnCode!= ''">
        AND A.ORGN_CODE = #{orgnCode,jdbcType=VARCHAR}
      </if>
      <if test="userName!=null and userName!= ''">
        AND A.USER_NAME LIKE  '%'||#{userName}||'%'
      </if>
      <if test="workNo!=null and workNo!= ''">
        AND A.WORK_NO = #{workNo,jdbcType=VARCHAR}
      </if>
      <if test="roleCode!=null and roleCode!= ''">
        AND B.ROLE_CODE = #{roleCode,jdbcType=VARCHAR}
      </if>
    </where>

  </select>

  <!--db2、oracle、mysql通用-->
  <update id="updateUserStatus" parameterType="com.yihuisoft.authoritybiz.entity.user.User">
      update T_SYS_USER_INFO  set status=#{status} where id= #{id}
  </update>

  <!--db2、oracle、mysql通用-->
  <select id="getUserExist" resultMap="BaseResultMap">
    select * from T_SYS_USER_INFO
    <where>
      <if  test="workNo!=null and workNo!= ''">
        OR WORK_NO = #{workNo,jdbcType=VARCHAR}
      </if>
      <if  test="idNo!=null and idNo!= ''">
        OR ID_NO = #{idNo,jdbcType=VARCHAR}
      </if>
      <if  test="phone!=null and phone!= ''">
        OR PHONE = #{phone,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <!--db2、oracle、mysql通用-->
  <update id="userLogout">
    update T_SYS_USER_INFO set STATUS=2 where id= #{id,jdbcType=DECIMAL}
  </update>

  <!--db2、oracle、mysql通用-->
  <update id="resetPassWord" parameterType="com.yihuisoft.authoritybiz.entity.user.User">
    update T_SYS_USER_INFO set USERPWD=#{userpwd} where id= #{id}
  </update>

  <!--db2、oracle、mysql通用-->
  <update id="updatemessage" parameterType="java.util.Map">
    update T_SYS_USER_INFO set   PHONE = #{phone,jdbcType=VARCHAR}, GENDER = #{gender,jdbcType=VARCHAR},CHECKLOGIN='1'  where WORK_NO= #{workNo,jdbcType=VARCHAR}
  </update>

  <select id="findBatchUser" parameterType="java.util.List"  resultMap="BaseResultMap">
    WITH USERIDCOLUMS AS
    <foreach collection="list" item="item_userid" separator="UNION ALL" open="(" close=")" index="index">
      SELECT #{item_userid} AS USERID FROM DUAL
    </foreach>
    SELECT  ID, ROLE_ID, ROLE_CODE, USER_CODE, ORGN_CODE, ORGN_ID, USER_NAME, WORK_NO FROM T_SYS_USER_INFO  T WHERE EXISTS(SELECT 1 FROM USERIDCOLUMS T1  WHERE T.USER_CODE=T1.USERID)
  </select>

  <select id="getUsersByDataAuthority" resultMap="BaseResultMap">
    SELECT  ID, ROLE_ID, ROLE_CODE, USER_CODE,USER_NAME,WORK_NO, ORGN_CODE, ORGN_ID, STATUS FROM T_SYS_USER_INFO
    WHERE 1=1
    <if test="userInfo.currentDataAuth == dataAuthMap.typeFirst_allSubordinatesOfOrgn">
      AND ORGN_ID IN (SELECT ID FROM T_SYS_ORGAN WHERE ORGN_INHERIT_SIGN LIKE #{userInfo.orgnInheritSign}||'%')
    </if>
    <if test="userInfo.userName!=null and userInfo.userName!= ''">
      AND USER_NAME LIKE  '%'||#{userInfo.userName}||'%'
    </if>
    <if test="userInfo.orgnCode!=null and userInfo.orgnCode!= ''">
      AND ORGN_CODE = #{userInfo.orgnCode,jdbcType=VARCHAR}
    </if>
    <if test="userInfo.workNo!=null and userInfo.workNo!= ''">
      AND WORK_NO = #{userInfo.workNo,jdbcType=VARCHAR}
    </if>
    <if test="userInfo.roleCode!=null and userInfo.roleCode!= ''">
      AND ROLE_CODE = #{userInfo.roleCode,jdbcType=VARCHAR}
    </if>
    <if test="userInfo.roleId!=null">
      AND ROLE_ID = #{userInfo.roleId}
    </if>
    <if test="userInfo.currentDataAuth == dataAuthMap.typeFirst_currentOrgn">
      AND ORGN_ID = #{userInfo.orgnId}
    </if>
    <if test="userInfo.currentDataAuth == dataAuthMap.typeFirst_oneself">
      AND ID = #{userInfo.id}
    </if>
  </select>


</mapper>